name: Build precompiled NIFs

env:
  NIF_DIRECTORY: "native/rustyjson"

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

defaults:
  run:
    working-directory: "./native/rustyjson"

jobs:
  build_release:
    name: NIF ${{ matrix.nif }} - ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        nif: ["2.15", "2.16", "2.17"]
        job:
          - { target: aarch64-unknown-linux-gnu   , os: ubuntu-22.04 , use-cross: true }
          - { target: aarch64-unknown-linux-musl  , os: ubuntu-22.04 , use-cross: true }
          - { target: aarch64-apple-darwin        , os: macos-14 }
          - { target: arm-unknown-linux-gnueabihf , os: ubuntu-22.04 , use-cross: true }
          - { target: riscv64gc-unknown-linux-gnu , os: ubuntu-22.04 , use-cross: true }
          - { target: x86_64-apple-darwin         , os: macos-13 }
          - { target: x86_64-unknown-linux-gnu    , os: ubuntu-22.04 }
          - { target: x86_64-unknown-linux-musl   , os: ubuntu-22.04 , use-cross: true }
          - { target: x86_64-pc-windows-gnu       , os: windows-2022 }
          - { target: x86_64-pc-windows-msvc      , os: windows-2022 }

    env:
      RUSTLER_NIF_VERSION: ${{ matrix.nif }}

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Install prerequisites
      shell: bash
      run: |
        case ${{ matrix.job.target }} in
          arm-unknown-linux-*) sudo apt-get -y update ; sudo apt-get -y install gcc-arm-linux-gnueabihf ;;
          aarch64-unknown-linux-gnu) sudo apt-get -y update ; sudo apt-get -y install gcc-aarch64-linux-gnu ;;
        esac

    - name: Extract crate information
      shell: bash
      run: |
        echo "PROJECT_NAME=$(sed -n 's/^name = "\(.*\)"/\1/p' Cargo.toml | head -n1)" >> $GITHUB_ENV
        # Get the project version from mix.exs
        echo "PROJECT_VERSION=$(sed -n 's/^  @version "\(.*\)"/\1/p' ../../mix.exs | head -n1)" >> $GITHUB_ENV

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.job.target }}

    - name: Show version
      shell: bash
      run: |
        gcc --version || true
        rustup -V
        rustup toolchain list
        rustup default
        cargo -V
        rustc -V
        rustc --print=cfg

    - name: Install cross
      if: ${{ matrix.job.use-cross }}
      uses: taiki-e/install-action@v2
      with:
        tool: cross

    - name: Build lib
      shell: bash
      run: |
        if [ "${{ matrix.job.use-cross }}" == "true" ]; then
          cross build --release --target=${{ matrix.job.target }}
        else
          cargo build --release --target=${{ matrix.job.target }}
        fi

    - name: Rename lib
      id: rename
      shell: bash
      run: |
        LIB_PREFIX="lib"
        case ${{ matrix.job.target }} in
          *-pc-windows-*) LIB_PREFIX="" ;;
        esac;
        # Figure out suffix of lib
        # See: https://doc.rust-lang.org/reference/linkage.html
        LIB_SUFFIX=".so"
        case ${{ matrix.job.target }} in
          *-apple-darwin) LIB_SUFFIX=".dylib" ;;
          *-pc-windows-*) LIB_SUFFIX=".dll" ;;
        esac;
        CICD_INTERMEDIATES_DIR=$(mktemp -d)
        # Setup paths
        LIB_DIR="${CICD_INTERMEDIATES_DIR}/released-lib"
        mkdir -p "${LIB_DIR}"
        LIB_NAME="${LIB_PREFIX}${{ env.PROJECT_NAME }}${LIB_SUFFIX}"
        LIB_PATH="${LIB_DIR}/${LIB_NAME}"
        # Copy the release build lib to the result location
        cp "target/${{ matrix.job.target }}/release/${LIB_NAME}" "${LIB_DIR}"
        # Final paths
        # In the end we use ".so" for MacOS in the final build
        # See: https://www.erlang.org/doc/man/erlang.html#load_nif-2
        LIB_FINAL_SUFFIX="${LIB_SUFFIX}"
        case ${{ matrix.job.target }} in
          *-apple-darwin) LIB_FINAL_SUFFIX=".so" ;;
        esac;
        LIB_FINAL_NAME="${LIB_PREFIX}${PROJECT_NAME}-v${PROJECT_VERSION}-nif-${RUSTLER_NIF_VERSION}-${{ matrix.job.target }}${LIB_FINAL_SUFFIX}"
        # Copy lib to final name on this directory
        cp "${LIB_PATH}" "${LIB_FINAL_NAME}"
        tar -cvzf "${LIB_FINAL_NAME}.tar.gz" "${LIB_FINAL_NAME}"
        # Passes the path relative to the root of the project.
        LIB_FINAL_PATH="${NIF_DIRECTORY}/${LIB_FINAL_NAME}.tar.gz"
        # Let subsequent steps know where to find the lib
        echo "LIB_FINAL_PATH=${LIB_FINAL_PATH}" >> $GITHUB_OUTPUT
        echo "LIB_FINAL_NAME=${LIB_FINAL_NAME}.tar.gz" >> $GITHUB_OUTPUT

    - name: "Upload artifact"
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.rename.outputs.LIB_FINAL_NAME }}
        path: ${{ steps.rename.outputs.LIB_FINAL_PATH }}

    - name: Publish archives and packages
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ steps.rename.outputs.LIB_FINAL_PATH }}
      if: startsWith(github.ref, 'refs/tags/')
